@font-face{
    font-family: playFont;
    src: url(assets/Play-Bold.ttf)
}
:root{
    --primary-bg-color: rgb(235, 235, 235);
    --primary-color: black;
    --primary-accent-color: white;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: var(--primary-bg-color);
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}
p{
    margin: 0;
}
.phone-wrapper{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.container{
    display:flex;
    flex-direction: column;
    width: min(95vw,400px);
    height: 100%;
}

.level-board {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7%;
    background-color: var(--primary-bg-color);
}

#level-text{
    font-family: playFont;
    font-size: 2em;
}

.settings-icon{
    width: 30px;
}

.number-board{
    display: flex;
    width:100%;
    height:8%;
    gap: 10px;
    margin-bottom: 10px;
}

.number-board-item{
    background-color: var(--primary-accent-color);
    border-radius: 10px;
    font-family: playFont;
    flex-grow: 1;
    align-content: center;
    
}

.number-organizer{
    display: flex;
    flex-direction: column;
    
    padding: 1vh;
    font-size: 0.8em;

}

.stat-title{
    color: grey;
}


.canvas-board{
    width:100%;
    height:75%;
    background-color: var(--primary-accent-color);
}

#game{
    display:block;
    width: 100%;
    height: 100%;
}



.bottom-board{
    width:100%;
    margin-top: 5px;
    height:7%;
    background-color: var(--primary-accent-color);
    border-radius: 10px 10px 30px 30px;
}

