@font-face{
    font-family: playFont;
    src: url(../assets/Play-Bold.ttf)
}

body {
  width: 100%; /* make the body only span 50% of the html width */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

}

.buttonContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.startButton{
    background-color: rgb(38, 43, 55);
    color: white;
    font-family: playFont;
    font-size: 17px;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    width: 100%;
}
